body{
    background-image: url('../assets/back7.jpg');
    background-size: cover;
    font-family:  cursive;
}

.goalContainer {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

.goalContainer h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.goalInput {
    width: 92%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-family: inherit;
    margin-bottom: 15px;
    transition: border 0.3s ease;
}

.goalInput:focus {
    border-color: #4CAF50;
}

.goalButton {
    margin: 0.25em;
    border: 1px solid #e36bae;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 18px;
    padding: 0.25em 0.75em;
    background-color: #e36bae;
    font-family: inherit;
    &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, #e36bae, #fb743e);
    }
}

.goalButton:hover {
    background-color: #45a049;
}

.goalStatus {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f8f9fa;
    font-size: 16px;
}

.goalStatus p {
    margin: 5px 0;
}

.goalStatus p:first-child {
    font-weight: bold;
}

.goalStatus p:last-child {
    font-size: 18px;
    font-weight: bold;
}
