.home-container {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-content {
    text-align: center;
    padding: 2rem;
    font-family: cursive;
    max-width: 700px;
  }
  
  .home-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 1rem;
  }
  
  .home-description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
  }
  
  .home-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    height: 300px;
    width: 300px;
    margin-left: 200px;
  }
  
  .home-image {
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .home-btn {
    margin: 0.25em;
    border: 1px solid #e36bae;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    padding: 0.25em 0.75em;
    background-color: #e36bae;
    font-family: inherit;
    &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, #e36bae, #fb743e);
    }
}
  
  