.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #e36bae;
    padding: 10px 0;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-family: monospace;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    cursor: pointer;
    color: white;
    background: linear-gradient(to bottom right, #e36bae, #fb743e);
}

.nav-link:active {
    background-color: #222;
}
