.searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.inputField {
    flex-grow: 1;
    font-family: inherit;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.searchButton {
    margin-bottom:18px;
    border: 1px solid #09ff53;
    border-radius: 10px;
    height: 40px;
    color: white;
    font-size: 16px;
    padding: 0.25em 0.75em;
    background-color: #6be37f;
    font-family: inherit;
    &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, #e36bae, #fb743e);
    }
}

.searchButton:hover {
    background-color: #059669;
}

.errorMessage {
    color: red;
    font-size: 0.9rem;
}